body.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode .card {
  background-color: #1e1e1e;
  color: white;
}

.dark-mode .form-control {
  background-color: #333;
  color: white;
  border-color: #555;
}

.dark-mode .form-check-label {
  color: white;
}
